body {
  margin: 0;
  padding: 0;

  background-color: #f2f4f5;

  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #1e1e1f;
}

#root {
  margin: auto;
  max-width: 327px;

  min-height: 100vh;

  position: relative;
}
